.main-career-wrapper{
    display: flex; 
    justify-content: space-between; 
    margin: 0 15rem 5rem 15rem;
}

/* .career-wrapper{
    min-width: 60%;
} */

.career-title{
    margin-bottom: 20px;
}

.career-category{
    display: flex;
    flex-wrap: wrap;

}

.career-category-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: transform 0.1s ease;
}

.career-category-container:hover{
    transform: scale(0.97);
    background-color: rgba(255, 255, 255, 0.1);
}

.career-category-container-inverted{
    margin-left: 2rem;
    border: none;
    background-color: rgb(255, 255, 255);
}

.career-category-container-inverted:hover{
    background-color: rgba(255, 255, 255, 0.2);
    .all-career-category{ 
        color: white;
    }
}

.career-logo{
    width: 40px;
}

.name{ 
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

.detail{
    color: white;
    font-size: 1rem;
    margin-left: 10px;
}

.all-career-category{
    color: black;
}


@media screen and (max-width: 768px){
    .category-name, .category-skills-wrapper{
        width: 100%;
        margin: 1.25rem;
    }
    .skill-container{
        margin-bottom: 20px;
    }
}