.summary-wrapper{
    margin: 0 15rem 4rem 15rem;
}

.summary-heading{
    margin-top: 1.25rem
}

.summary-text{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: justify;
}

.summary-heading span{
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: summary-text linear forwards;
    animation-timeline: view();
    animation-range-start: contain 26vh;
    animation-range-end: contain 54vh;
}

@keyframes summary-text {
    to {
        background-size: 100% 100%;
    }
}