body{
    background-color: black;
}
.heading1{
    font: 2rem "Roboto", sans-serif;
    margin-top: 2rem;
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
.heading2{
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    color: #2270E2;
}
.heading2:hover{
    text-decoration: underline;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.main-wrapper{
    width: 70%;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 6rem;
}
.wrapper-second{
    flex-direction: row-reverse;
}
#avatar{
    width: 40%;
}
.right-col{
    width: 47%;
}
.description{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
.description-points{
    color: white;
}
.hr {
    margin-top: 1rem;
    height: 2px;  
    background-color: rgba(255, 255, 255, 0.5);
}
#vision-des, #mission-des {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}
#vision-des.show, #mission-des.show {
    opacity: 1;
    height: auto;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pdfIframe {
    width: 100%;
    height: 700px;
}
