{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/education-and-workX.css' %}">
<link rel="stylesheet" href="{% static 'css/toggle.css' %}">
{% endblock styles %}

{% block body %}
<div class="toggle-container">
    <button class="toggle-button" id="educationButton" onclick="redirectToURL('{% url 'skills' %}')">Skills</button>
    <button class="toggle-button active-button" id="careerButton">Projects</button>
</div>
<script src="{% static '/js/toggle.js' %}"></script> 
{% endblock body %}