{% extends "base.html" %}
{% load static %}

{% block title %}Skills{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main/career.css' %}">
<link rel="stylesheet" href="{% static 'css/components/toggle.css' %}">
{% endblock styles %}

{% block body %}
<div class="toggle-container">
    <button class="toggle-button active-button" id="educationButton">Skills</button>
    <button class="toggle-button" id="careerButton" onclick="redirectToURL('{% url 'projects' %}')">Projects</button>
</div>
<script src="{% static '/js/toggle.js' %}"></script> 
{% endblock body %}