{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}
{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/main/about.css' %}">
{% endblock styles %}

{% block body %}
<h2 class="heading1 text-center">Creating Innovative Solutions for a Better Tomorrow</h2>
<div class="main-wrapper">
    <div class="wrapper">
        <img id="avatar" src="{% static 'images/attributes/avatar2-white.png' %}" alt="About" class="about-image">
        <div class="right-col">
            <h2 class="heading1">Building Solutions with Technology</h2>
            <p class="description">As a software developer, my goal is to create digital solutions that help businesses and individuals achieve their goals. 
                My expertise lies in full stack development using React and Django, ensuring that the final product is scalable, efficient, and user-friendly.
            </p>
            <h3 id="vision" class="heading2">My Vision</h3>
            <p id="vision-des" class="description">My vision is to use technology to create solutions that make life easier for people.</p>
            <div class="hr"></div>
            
            <h3 id="mission" class="heading2">My Mission</h3>
            <p id="mission-des" class="description">My mission is to deliver innovative digital solutions that leverage technology to improve lives through intuitive design, efficient development, and seamless functionality.</p>
            <div class="hr"></div>
        </div>
    </div>
</div>
<div class="main-wrapper">
    <div class="wrapper wrapper-second">
        <img id="avatar" src="{% static 'images/attributes/avatar3-white.png' %}" alt="About" class="about-image">
        <div class="right-col">
            <h2 class="heading1">Let's Build Something Great Together</h2>
            <p class="description">If you have a project in mind or would like to learn more about my services, please don’t hesitate to contact me. 
                I’m always open for a conversation to help clarify your needs and explore how my skills can bring your ideas to life.
            </p>
            <div>
                <p class="description description-points">&check; Explore customized solutions for your unique needs</p>
                <p class="description description-points">&check; Get insights into the latest technology and development trends</p>
                <p class="description description-points">&check; Understand how my skills can complement your vision</p>
            </div>
            <div id="pdfModal" class="modal">
                <div class="modal-content">
                    <span class="close text-center">&times;</span>
                    <iframe id="pdfIframe" src="{% static 'resume.pdf' %}" width="100%" height="100%" frameborder="0"></iframe>
                </div>
            </div>
            <h3 id="openModalBtn" class="heading2">My Resume</h3>
        </div>
    </div>
</div>


    {% comment %} <button id="openModalBtn">Open PDF Viewer</button>
            <iframe src="{% static 'resume.pdf' %}" width="100%" height="600px" frameborder="0"></iframe>
    <div id="pdfModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="pdfIframe" src="{% static 'resume.pdf' %}" frameborder="0"></iframe>
        </div>
    </div> {% endcomment %}
    <script src="{% static 'js/about.js' %}"></script>
    <script>
        const visionButton = document.getElementById('vision');
        const visionDes = document.getElementById('vision-des');
        visionButton.addEventListener('click', function() {
            visionDes.classList.toggle('show');
        });

        const missionButton = document.getElementById('mission');
        const missionDes = document.getElementById('mission-des');
        missionButton.addEventListener('click', function() {
            missionDes.classList.toggle('show');
        });
    </script>
    
{% endblock body %}