{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block styles %}
    <style>
        body{
            background-color: black;
        }
        .heading1{
            font: 2rem "Roboto", sans-serif;
            margin-top: 2rem;
            color: white;
            font-size: 3rem;
            font-weight: 900;
        }
        #avatar{
            width: 50%;
            margin: 0 auto;
        }
    </style>
{% endblock styles %}

{% block body %}
    <h2 class="heading1 text-center">Building Innovative Solutions through Technology</h2>
    <div class="mb-24">
        <img id="avatar" src="{% static 'images/attributes/avatar1-white.png' %}" alt="About" class="about-image">
    </div>
    {% include "main/home-components/home-about.html" %}
    {% include "main/home-components/home-projects.html" %}
    {% include "main/home-components/home-services.html" %}
    {% include "main/home-components/home-contact.html" %}
{% endblock body %}