{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main/home.css' %}">
<link rel="stylesheet" href="{% static 'css/main/home/home-summary.css' %}">
<link rel="stylesheet" href="{% static 'css/main/home/home-career.css' %}">
<link rel="stylesheet" href="{% static 'css/main/home/home-skills.css' %}">
{% endblock styles %}

{% block body %}
    <div class="heading-container">
        <p class="text">Building Innovative Solutions through Technology!</p>
    </div>
    <div class="mb-24">
        <img id="avatar" src="{% static 'images/attributes/avatar1-white.png' %}" alt="About" class="about-image">
    </div>
    {% include "main/home-components/home-summary.html" %}
    {% include "main/home-components/home-career.html" %}
    {% include "main/home-components/home-skills.html" %}
    {% include "main/home-components/home-projects.html" %}
    {% include "main/home-components/home-services.html" %}
    {% include "main/home-components/home-contact.html" %}
{% endblock body %}