{% extends "base.html" %}
{% load static %}

{% block title %}Socials{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/components/services-and-social-cards.css' %}">{% endblock styles %}

{% block body %}
    {% comment %} <h1>Home</h1> {% endcomment %}
    {% comment %} <p>Welcome to the socials page!</p> {% endcomment %}
    {% comment %} {% for social in socials %}
        <h2><a href={{ social.url }}>{{ social.name }}</a></h2>
    {% endfor %} {% endcomment %}
    
    {% comment %} {% if leetcode_data %}
    <h2>Leetcode</h2>
    <p>Total Problems solved: {{ leetcode_data.totalSolved }}</p>
    <p>Total Easy Problems solved: {{ leetcode_data.easySolved }}</p>
    <p>Total Medium Problems solved: {{ leetcode_data.mediumSolved }}</p>
    <p>Total Hard Problems solved: {{ leetcode_data.hardSolved }}</p>
    {% endif %} {% endcomment %}

<div class="cards-wrapper">
    <div class="cards-container">
        {% for social in socials %}
        <input type="radio" name="slide" id="c{{ social.position }}" {% if forloop.first %}checked{% endif %}>
        <label for="c{{ social.position }}" class="card">
            {% comment %} style="background-image: url('{% static social.social_image_url %}')"> {% endcomment %}
            <div class="row">
                <div class="icon">{{ social.position }}</div>
                <div class="description">
                    <h4><a href={{ social.url }} target="_blank">{{ social.name }}</a></h4>
                    <p><a href={{ social.url }} target="_blank">Click to visit</a></p>
                    </div>
                </div>
            </label>
        {% endfor %}
    </div>
</div>
{% endblock body %}