{% extends "base.html" %}
{% load static %}

{% block title %}Work Experience{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main/career.css' %}">
<link rel="stylesheet" href="{% static 'css/components/toggle.css' %}">
{% endblock styles %}

{% block body %}
<div class="toggle-container">
    <button class="toggle-button" id="educationButton" onclick="redirectToURL('{% url 'education' %}')">Education</button>
    <button class="toggle-button active-button" id="careerButton">Experience</button>
</div>
<p class="heading1">My Work Experiences</p>
<div class="timeline">
    {% comment %} First Card {% endcomment %}
    <div class="institute-company-container left-container">
        <a href="https://www.prospeer.ai/" target="_blank"><img class="institute-company-logo" src="{% static 'images/career/company-logos/prospeer.png' %}" /></a>
        <div class="text-box">
            <div class="institute-company-name">
                <h2>Prospeer AI</h2>
                <a href="https://www.prospeer.ai/" target="_blank"><img class="link-logo" src="{% static 'images/attributes/link.png' %}" /></a>
            </div>
            <small>March 2024 - Present</small>
            <p class="inner-heading">Software Development Engineer - I (SDE1)</p>
            <p>Tasks/Accomplishments:</p>
            <ul class="ml-5 tasks">
                <li>Maintaining the technical front of the platform.</li>
                <li>Leading a technical team for sustainable development.</li>
            </ul>
            <hr class="mt-2 mb-2">
            <p class="inner-heading">Top Skills Used:</p>
            <p>Python, PostgreSQL, AWS Apache Airflow, Azure Databricks</p>
            <span class="left-container-arrow"></span>    
        </div>
    </div>
    {% comment %} Second Card {% endcomment %}
    <div class="institute-company-container right-container">
        <a href="https://www.shell.in/" target="_blank"><img class="institute-company-logo" src="{% static 'images/career/company-logos/shell.png' %}" /></a>
        <div class="text-box">
            <div class="institute-company-name">
                <h2>Shell India</h2>
                <a href="https://www.shell.in/" target="_blank"><img class="link-logo" src="{% static 'images/attributes/link.png' %}" /></a>
            </div>
            <small>August 2023 - February 2024</small>
            <p class="inner-heading">Associate Data Engineer</p>
            <p>Tasks/Accomplishments:</p>
            <ul class="ml-5 tasks">
                <li>Operated and maintained eMobility (EV) portfolio efficiently.</li>
                <li>Resolved pipeline issues, significantly reducing the error rate by an average of 75% per pipeline.</li>
                <li>Streamlined manual data ingestion through automation, cutting down manual efforts by 50%.</li>
            </ul>
            <hr class="mt-2 mb-2">
            <p class="inner-heading">Top Skills Used:</p>
            <p>Python, PostgreSQL, AWS Apache Airflow, Azure Databricks</p>
            <span class="right-container-arrow"></span>
        </div>
    </div>
    {% comment %} Third Card {% endcomment %}
    <div class="institute-company-container left-container">
        <a href="https://www.prospeer.ai/" target="_blank"><img class="institute-company-logo" src="{% static 'images/career/company-logos/prospeer.png' %}" /></a>
        <div class="text-box">
            <div class="institute-company-name">
                <h2>Prospeer</h2>
                <a href="https://www.prospeer.ai/" target="_blank"><img class="link-logo" src="{% static 'images/attributes/link.png' %}" /></a>
            </div>
            <small>June 2022 - July 2023</small>
            <p class="inner-heading">Full Stack Developer</p>
            <p>Tasks/Accomplishments:</p>
            <ul class="ml-5 tasks">
                <li>Worked on the backend of the platform.</li>
                <li>Developed several microservices for the platform.</li>
                <li>Reduced load-time of several functions by imrpoving logic.</li>
                <li>Optimized and organized the code better.</li>
                <li>Increased user retention by employing async functions to reduce upfront processing on the front-end.</li>
            </ul>
            <hr class="mt-2 mb-2">
            <p class="inner-heading">Top Skills Used:</p>
            <p>Python, Django, PostgreSQL, Docker, Github, AWS, Bubble.io</p>
            <span class="left-container-arrow"></span>
        </div>
    </div>
    {% comment %} Fourth Card {% endcomment %}
    <div class="institute-company-container right-container">
        <a href="https://www.thejamiareview.com/" target="_blank"><img class="institute-company-logo" src="{% static 'images/career/company-logos/tjr.png' %}" /></a>
        <div class="text-box">
            <div class="institute-company-name">
                <h2>TJR - The Jamia Review</h2>
                <a href="https://www.thejamiareview.com/" target="_blank"><img class="link-logo" src="{% static 'images/attributes/link.png' %}" /></a>
            </div>
            <small>November 2021 - January 2023</small>
            <p class="inner-heading">Web Development Associate</p>
            <p>Tasks/Accomplishments:</p>
            <ul class="ml-5 tasks">
                <li>Developed and maintained the website.</li>
                <li>Helped with the UI/UX of the website.</li>
                <li>Worked on the front-end and back-end of the website.</li>
                <li>Imroved the SEO of the website.</li>
            </ul>
            <hr class="mt-2 mb-2">
            <p class="inner-heading">Top Skills Used:</p>
            <p>WordPres, Figma</p>
            <span class="right-container-arrow"></span>
        </div>
    </div>
</div>

<script src="{% static '/js/toggle.js' %}"></script> 
{% endblock body %}