{% load static %}
<link rel="stylesheet" href="{% static 'css/main/home/home-summary.css' %}">

<div class="summary-wrapper">
    <div class="summary-heading">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2"><span>More About Me</span></h1>
        <div class="h-1 w-20 bg-white rounded"></div>
        <p class="summary-text">
            <span>
                I am a software developer with experience in full-stack development.
                I am a passionate and driven individual with a strong foundation in Computer Science and Engineering.
                I have completed my B.Tech in Computer Science & Engineering from Amity University.
                I have a keen interest in Generative AI, Cyber Security, and Web3, and I am always eager to learn and grow.
                I have a proven track record of success in various competitions and projects, and I am excited to bring my skills to the table.
                I won the Smart India Hackathon (2022) where I worked with my team to develop software for JellyBot - 
                a Search & Rescue robotic solution, implementing advanced ML algorithms for drowning detection and path planning. 
                I am also fluent in English and Hindi, with proficiency in Spanish.
                I am excited to continue my journey in the tech industry.
            </span>
        </p>
    </div>
</div>