{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Aadil</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/main-logo/icon.png' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}{% endblock styles %}
</head>
<body>
    <section id='header'>
        {% include "components/header.html" %}
    </section>
    
    <section id='content'>    
        {% block body %}{% endblock body %}
    </section>
    
    <section id='footer'>
        {% include "components/footer.html" %}
    </section>
    {% block scripts %}{% endblock scripts %}

    <script>
        window.onload = function() {
            var headerHeight = document.getElementById('header').offsetHeight;
            var footerHeight = document.getElementById('footer').offsetHeight;
            document.querySelector('#content').style.marginTop = headerHeight + 'px';
            document.querySelector('#content').style.marginBottom = footerHeight + 'px';
        };
    </script>
</body>
</html>